<div id="center-svg">
  <svg version="1.1" id="Original" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 521.9 728.7" style="" xml:space="preserve" class="">
  <style type="text/css">
    .st0{fill:none;stroke:#fff;stroke-width:3;stroke-miterlimit:10;}
  </style>
  <g class="start">
    <path class="st0 left-stroke" d="M0.2,521.7L51.2,521.7L51.2,181.4L0.2,103.7Z"></path>
    <path class="st0 mid-stroke" d="M462.3,0.3L261,347.2L59.7,0.3L0.2,0.3L235.2,404.2L235.2,728.3L286.2,728.3L286.2,405L286.3,405.1L
      521.8,0.3Z"></path>
    <path class="st0 right-stroke" d="M471.2,181.4L471.2,521.7L522.2,521.7L522.2,103.7Z"></path>
  </g>
  </svg>
</div>
