<div class="container text-center">
  <h1>This page isn't ready yet!!!</h1>
</div>
<div class="container text-center p-3">
  <img id="cat" src="https://ds6br8f5qp1u2.cloudfront.net/blog/wp-content/uploads/2015/12/funny-cat-year2015-web-dev.gif?x12781" alt="shocked internaut cat">
</div>
